html {
    font-family: sans-serif !important;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #CAF0F8;
}

/* HEADER */
.container_header {
    display: flex;
    background-color: #0096C7;
}

.container_header .menu {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
}

.container_header .active {
    border-bottom: 2px solid #ffffff;
}

.menu:hover:not(.active) {
    background-color: #0077B6;
}

/* HOME */
.container_home {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.card_home {
    background-color: #ffffff;
    min-width: 260px;
    width: 260px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card_home::-webkit-scrollbar {
    display: none;
}

.card_home:hover {
    transform: scale(1.05);
}

.card_home>*:not(.container_img) {
    margin: 10px 20px
}

.card_home .container_img {
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #48CAE4;
}

.card_home .container_img .img {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card_home .date {
    font-size: 12px;
    margin-top: -5px;
    color: #8d8d8d;
}

.card_home .line {
    height: 1px;
    background-color: #b6b6b6;
}

/* ADD EVENT */
.wrapper_add {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_add {
    display: flex;
    height: 710px;
    width: 1400px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.container_add .container_left {
    width: 60%;
    background-color: #ffffff;
}

.container_left h3 {
    margin: 40px;
}

.container_left p:not(.note_required) {
    font-weight: 600;
}

.container_left .row_input {
    display: flex;
    height: 80px;
    margin: 40px;
}

.container_left .col_input {
    width: 50%;
    height: 100px;
}

.container_left input {
    border: none;
    border-bottom: 2px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
    width: 90%;
    padding-bottom: 10px;
    font-family: monospace;
}

.row_file input {
    width: 95%;
}

.container_left input:active, .container_left input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.container_add .row_textarea {
    height: 160px;
    margin: 40px;
}

.note_required {
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 5px;
    font-style: italic;
}

.container_left textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
    width: 95%;
    height: 90px;
    font-family: monospace;
    resize: none !important;
}

.container_left textarea:active, .container_left textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.container_left .row_file {
    display: flex;
    height: 40px;
    margin: 40px;
}

.container_left button {
    cursor: pointer;
    width: 95%;
    color: #ffffff;
    border: none;
    background-color: #f4a261;
}

.container_left button:hover {
    background-color: #e76f51;
}

.container_left button:active {
    background-color: #f4a261;
}

.container_add .container_right {
    width: 40%;
    background-color: #00B4D8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_right .img {
    height: 400px;
    width: 100%;
    margin: 100px;
    background-image: url('/src/common/asset/img/undraw_team_collaboration_re_ow29.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

}

/* DASHBOARD */
.wrapper_dashboard {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_dashboard {
    width: 1400px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table th {
    height: 30px;
}

.header_table th {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    background-color: #00B4D8;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #CAF0F8;
}

.pagination {
    margin: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
}

.pagination a.active {
    background-color: #00B4D8;
    color: #ffffff;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.search_container {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search_container input {
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    padding: 20px;
    width: 80%;
    background-color: #ececec;
}

.search_container input:active, .search_container input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.search_container button {
    width: 20%;
    font-size: 12px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #f4a261;
}

.search_container button:hover {
    background-color: #e76f51;
}

.search_container button:active {
    background-color: #f4a261;
}